.nav-link{
 margin-left: 2rem;
 color: #666;
 font-size: 0.9rem;
}

.footerPara{
    font-size: 0.65rem;
    color: #9b9b9b;
    margin-bottom:1rem;
    line-height: 1.8;
}
p{
    color: #666;
      line-height: 1.8;
}
